
.icon-loading{
	animation:rotate .8s infinite linear;
	display: inline-block;
	color:currentColor;
	width:1em;
	height: 1em;
	font-size:36px;
	position: relative;
	&:after{
		display: inline-block;
		position: absolute;
		margin: auto;
		top:0;
		left: 0;
		right: 0;
		bottom:0;
		width:100%;
		height:100%;
		content:'';
		box-sizing:border-box;
		border-radius:50%;
		border-style:solid;
		border-width:.15em;
		border-color:currentColor currentColor currentColor transparent;
	}
}
.icon-ellipsis{
	display: inline-block;
	position: relative;
	width:3Px;
	height:3Px;
	background:currentColor;
	font-size: 14px;
	border-radius:50%;
	&:before,&:after{
		content:'';
		display:inline-block;
		position: absolute;
		border-radius:50%;
		top:0;
		background:inherit;
		width:100%;
		height: 100%;
	}
	&:before{
		left:.5em;
	}
	&:after{
		left: 1em;
	}
}
.icon-search{
	position:relative;
	display: inline-block;
	color:currentColor;
	width:1em;
	height:1em;
	border-radius:50%;
	border:.1em solid currentColor;
	&:after{
		position: absolute;
		left: 80%;
		top: 100%;
		display: inline-block;
		content:'';
		width:.5em;
		height: .1em;
		border-radius:20Px;
		transform: rotate(45deg);
		background:currentColor;
	}
}
.icon-play{
	display: inline-block;
	color:currentColor;
	width: 2em;
	height: 2em;
	border:.05em solid currentColor;
	border-radius:50%;
	position:relative;
	&:after{
		position:absolute;
		content:'';
		display: inline-block;
		border-width:.5em .5em .5em; 
		left: 40%;
		top: 25%;
		border-style:solid;
		border-color:transparent transparent transparent currentColor;
	}
}
.icon-pause{
	display: inline-block;
	color:currentColor;
	width: 2em;
	height: 2em;
	border:.05em solid currentColor;
	border-radius:50%;
	position:relative;
	&:before,&:after{
		display: inline-block;
		content:'';
		position:absolute;
		width:.2em;
		height: .8em;
		background:currentColor;
		border-radius:20Px;
		left: 30%;
		top: 30%;
	}
	&:after{
		left: 60%;
	}
}
.icon-next,.icon-prev{
	display: inline-block;
	position:relative;
	width:2em;
	height:2em;
	color:currentColor;
	border:.05em solid currentColor;
	border-radius:50%;
	&:before{
		display: inline-block;
		content:'';
		position:absolute;
		width:.2em;
		height: .8em;
		background:currentColor;
		border-radius:20Px;
		left: 30%;
		top: 30%;
	}
	&:after{
		position:absolute;
		content:'';
		display: inline-block;
		border-width:.5em .5em .5em 0; 
		left: 42%;
		top: 25%;
		border-style:solid;
		border-color:transparent currentColor transparent transparent;
	}
}
.icon-next{
	&:before{
		left: 60%;
	}
	&:after{
		left: 30%;
		border-width:.5em 0 .5em .5em; 
		border-color:transparent currentColor transparent;
	}
}
.icon-arrow-left,.icon-arrow-right,.icon-arrow-up,.icon-arrow-down{
	vertical-align: middle;
	display: inline-block;
	width: 2.4em;
	height: 2.4em;
	color:currentColor;
	position:relative;
	&:before,&:after{
		position:absolute;
		content:'';
		display: inline-block;
		width:1.5em;
		height: .2em;
		background:currentColor;
		left: 0;
		top: .75em;
	}
}
.icon-arrow-left{
	&:before{
		transform: rotate(-45deg);
	}
	&:after{
		transform: rotate(45deg);
		top: 1.7em;
	}
}
.icon-arrow-right{
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
		top: 1.7em;
	}
}
.icon-arrow-down{
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
		left: 39%;
	}
}
.icon-arrow-up{
	&:before{
		transform: rotate(45deg);
		left: 39%;
	}
	&:after{
		transform: rotate(-45deg);
	}
}
.icon-clock{
	display: inline-block;
	width:2em;
	height: 2em;
	position:relative;
	border:.2em solid currentColor;
	border-radius:50%;
	&:before,&:after{
		content: '';
		display: inline-block;
		position:absolute;
		width:.6em;
		height: .2em;
		background:currentColor;
		left: 25%;
		top: 20%;
	}
	&:before{
		width: .8em;
		transform: rotate(90deg);
	}
	&:after{
		transform: rotate(45deg);
		top: 54%;
		left: 43%;
	}
}
.icon-close{
	display: inline-block;
	width:2em;
	height: 2em;
	position:relative;
	color: currentColor;
	&:before,&:after{
		display: inline-block;
		content:'';
		position:absolute;
		width:1em;
		height: .1em;
		background:currentColor;
		left: 25%;
		top: 45%;
	}
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
	}
}

.icon-headphone{
	display: inline-block;
	vertical-align: middle;
	width: 1.5em;
    height: 1.25em;
    border-radius: 1.7em ~"/" 1.7em 1.7em 16Px 16Px;
    margin: .1em .1em .4em;
    border:.2em solid;
    border-bottom-color: transparent;
    position:relative;
    &:before{
    	content:'';
	    position: absolute;
	    width: .35em;
	    height: .5em;
	    left: -.12em;
	    bottom: -.2em;
	    border-radius: .4em;
	    box-shadow: inset 0 0 0 1.7em, 1em 0 0 0;
	    pointer-events: none;
    }
}
.icon-play-menu{
	display: inline-block;
	color: currentColor;
	text-align: left;
    width: 2em;
    height: 1.6em;
    border-width: .4em 0 .4em .8em;
    border-style: solid;
    border-color: transparent;
    box-shadow: 0 -.2em, 0 .2em, inset 0 .2em, inset 0 -.2em;
    margin: .9em .7em;
    position:relative;
	&:before{
		content:'';
		position:absolute;
	    left: -.8em;
	    top:-.1em;
	    border: .5em solid;
	    border-top-color: transparent;
	    border-bottom-color: transparent;
	    border-right-width: 0;
	}
}
.icon-retweet,.icon-retweet-black{
	display: inline-block;
	width:2em;
	height: 2em;
	background-image:url(./assets/retweet.png);
	background-size:cover;
}
.icon-retweet-black{
	background-image:url(./assets/retweet_black.png);
}

.icon-random,.icon-random-black{
	display: inline-block;
	width:2em;
	height: 2em;
	background-image:url(./assets/random.png);
	background-size:cover;
}
.icon-random-black{
	background-image:url(./assets/random_black.png);
}
.icon-loop-one,.icon-loop-one-black{
	display: inline-block;
	width:2em;
	height: 2em;
	background-image:url(./assets/loop_one.png);
	background-size:cover;
}
.icon-loop-one-black{
	background-image:url(./assets/loop_one_black.png);
}
.icon-trash{
	display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 0 0 3Px 3Px;
    border-top: none;
    margin: .9em .6em .3em;
    border:.2em solid currentColor;
    border-top:0;
    position:relative;
	&:before{
		content:'';
		position:absolute;
	    width: .8em;
	    height: .2em;
	    top: -.65em;
	    left:.4em;
	    box-shadow: inset 0 0 0 1em, -.8em .2em 0 0, -.6em .2em 0 0, 0 .2em 0 0, .6em .2em 0 0, .8em .2em 0 0;
	}
}