*{box-sizing:border-box;margin:0;padding:0;list-style:none;text-decoration: none;}
.app{
	.header{
		height:50px;
		padding: 10px;
		background:#2CA2F9;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index:66;
		.logo{
			height: 100%;
			img{
				height: 100%;
			}
		}
	}
}